.footer__container {
  background-color: #E9DED4;
}

.footer__text {
  font-size: 16px;
  line-height: 19.2px;
  padding: 40px 0 72px;
}

@media (max-width: 768px) {
  .footer__text {
    padding: 78px 0 60px ;
  }
}